<!-- <app-hero></app-hero>
<app-services></app-services>
<app-pricing></app-pricing>
<app-intervention-zones></app-intervention-zones>
<app-client-reviews></app-client-reviews>
<app-contact></app-contact>
<app-faq></app-faq> -->


<div class="home-page">
  <section id="hero" class="page-section">
    <app-hero></app-hero>
  </section>

  <section id="services" class="page-section">
    <app-services></app-services>
  </section>

  <section id="tarifs" class="page-section">
    <app-pricing></app-pricing>
  </section>

  <section id="zones" class="page-section">
    <app-intervention-zones></app-intervention-zones>
  </section>

  <section id="avis" class="page-section">
    <app-client-reviews></app-client-reviews>
  </section>

  <section id="contact" class="page-section">
    <app-contact></app-contact>
  </section>

  <section id="faq" class="page-section">
    <app-faq></app-faq>
  </section>
</div>
